<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
	<% @post.coms.each do |c|  %>
	<br/> <br/>
	commentaire : <br/>
	<%= c.user.email %> <br/>
	<%= c.com %>
	<% end %>
</p>
<% if current_user.id == @post.user_id %><%= link_to 'Edit', edit_post_path(@post) %> | <% end %>
<%= link_to 'Back', posts_path %>


<form action="/coms" method="post">
	
	<input  name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />


		<input type="hidden" name="post_id" value=" <%= @post.id %> " >


	<div class="field">
		<label for="post_body">coms</label>
		<input type="text" name="com" id="post_body" />
	</div>

	<div class="actions">
		<input type="submit" name="commit" value="Create Coms" data-disable-with="Create Post" />
	</div>
</form>